.page-writer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    padding: 4rem;
}
textarea{
    background-color: var(--color-background-dark);
    color: var(--color-text-button);
    outline: none;
    border-radius: 10px;
    min-width: 30rem;
    max-width: 45rem;
    min-height: 25rem;
    width: 40rem;
    height: 26rem;
    overflow: hidden;
}
textarea:focus{
    background-color: var(--color-title-in-primary);
}
.title-writer{
    color: var(--color-primary-light);
}
.content{
    display: flex;
    flex-direction: column;
}
.content button{
    padding: 1rem;
    margin: 1rem 0;
    outline: none;
    background-color: var(--color-secondary);
    color: var(--color-text-button);
    border-radius: 20px;
    border-style: none;
    transition: 1s;
}
.content button:hover{
    background-color: var(--color-secondary-dark);
    color: var(--color-primary-light);
    transition: 0.8s;
}
.content button:active{
    background-color: var(--color-text-button);
    color: var(--color-primary-light);
}
.inputTitle{
    background-color: var(--color-primary);
    border-radius: 5rem;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font: 400 2.0rem Archivo;
}
.inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputTitle label{
    color: var(--color-line-in-white);
}
.inputTitle input{
    width: 15rem;
    border-radius: 1rem;
    border-style: double;
    outline: none;
    color: var(--color-text-button);
}
.inputTitle input:focus{
    background-color: var(--color-line-in-white);
}
@media (min-width: 700px){
    textarea{
        min-width: 30rem;
        max-width: 100rem;
        width: 700px;
        height: 25.6rem;
    }
}