.page-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    width: 100vw;
    height: 20vh;
    margin-bottom: 0;
}
.title-header{
    color: var(--color-title-in-primary);
}
.pageIcon{
    display: flex;
    height: 50%;
    padding: 0 2rem;
}
.inputTitle{
    display: flex;
    flex-direction: column;
    font: 400 2.0rem Archivo;
}
.inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputTitle label{
    color: var(--color-line-in-white);
}
.inputTitle input{
    width: 15rem;
    border-radius: 1rem;
    border-style: double;
    outline: none;
    color: var(--color-text-button);
}
.inputTitle input:focus{
    background-color: var(--color-line-in-white);
}