.page-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    width: 100vw;
    height: 20vh;
    margin-bottom: 0;
}
.title{
    color: var(--color-title-in-primary);
}
.pageIcon{
    display: flex;
    height: 50%;
    padding: 0 2rem;
}