.page-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.content{
    padding: 4rem;
}
.backgroundImg{
    display: block;
    height: 20rem;
}
.writeBut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 3rem;
    padding: 2rem 3rem;
    border-radius: 5rem;
    color: var(--color-text-button);
    background-color: var(--color-secondary);
    transition: 1s;
}
.writeBut:hover{
    background-color: var(--color-secondary-dark);
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    transition: 0.8s;
}
.writeBut img{
    padding-right: 1rem;
    height: 5vh;
    align-content: flex-start;
}