:root {
    --color-background: #d2d2eb;
    --color-background-dark: #b0b0c5;
    --color-primary-light: #855aeb;
    --color-primary: #6d3ce0;
    --color-primary-dark: #582bc2;
    --color-secondary: #edf05a;
    --color-secondary-dark: #d5d823;
    --color-title-in-primary: #FFFFFF;
    --color-text-button: #49464e;
    --color-text-base: #FAFAFC;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;

    font-size: 60%;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100vh;
}

body{
    background-color: var(--color-line-in-white);
}

#root{
    align-items: center;
    justify-content: center;
}

body,input,button,textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}